In [2]:
import numpy as np
import pandas as pd
import itertools
from itertools import permutations, combinations,product,combinations_with_replacement,repeat
import scipy

In [ ]:
# اول ۲۴ تایی کنم

In [64]:
# این تابع به اندازه داده هایی که میدیم میاد لیستشون میکنه و جایگشتونو درست میکنه درون یک لیست از لیست ها میده 

def States(main_list=('A','B','C','D')):
    all_per_game=[ list(game) for game in permutations((char) for char in main_list) ]
    return all_per_game
# main=('A','B','C','D','E')
States()

[['A', 'B', 'C', 'D'],
 ['A', 'B', 'D', 'C'],
 ['A', 'C', 'B', 'D'],
 ['A', 'C', 'D', 'B'],
 ['A', 'D', 'B', 'C'],
 ['A', 'D', 'C', 'B'],
 ['B', 'A', 'C', 'D'],
 ['B', 'A', 'D', 'C'],
 ['B', 'C', 'A', 'D'],
 ['B', 'C', 'D', 'A'],
 ['B', 'D', 'A', 'C'],
 ['B', 'D', 'C', 'A'],
 ['C', 'A', 'B', 'D'],
 ['C', 'A', 'D', 'B'],
 ['C', 'B', 'A', 'D'],
 ['C', 'B', 'D', 'A'],
 ['C', 'D', 'A', 'B'],
 ['C', 'D', 'B', 'A'],
 ['D', 'A', 'B', 'C'],
 ['D', 'A', 'C', 'B'],
 ['D', 'B', 'A', 'C'],
 ['D', 'B', 'C', 'A'],
 ['D', 'C', 'A', 'B'],
 ['D', 'C', 'B', 'A']]

In [56]:
# این میاد به اندازه همه موارد, بازی ها را نام گذاری میکنه بهمون میده
# تابع نام گذاری روی یه سری چیز
# اسمشهم پیشفرض چیزی میدیم ولی میشه عوض کرد
def naming_s(the_name,name='name'):
    all_names=[]
    for char in range(1,len(the_name)+1):
        all_names.append('%s%s%i'%(name,'_',char))
    return (all_names)
naming_s(States(),'State')

['State_1',
 'State_2',
 'State_3',
 'State_4',
 'State_5',
 'State_6',
 'State_7',
 'State_8',
 'State_9',
 'State_10',
 'State_11',
 'State_12',
 'State_13',
 'State_14',
 'State_15',
 'State_16',
 'State_17',
 'State_18',
 'State_19',
 'State_20',
 'State_21',
 'State_22',
 'State_23',
 'State_24']

In [65]:
# این هر سطر یه بازی بشه که جایگاه هر کدام هر خودش نوشته میشه
naming_game=naming_s(States(),'State')
df_states=pd.DataFrame(States(),index=naming_game)
df_states

          0  1  2  3
State_1   A  B  C  D
State_2   A  B  D  C
State_3   A  C  B  D
State_4   A  C  D  B
State_5   A  D  B  C
State_6   A  D  C  B
State_7   B  A  C  D
State_8   B  A  D  C
State_9   B  C  A  D
State_10  B  C  D  A
State_11  B  D  A  C
State_12  B  D  C  A
State_13  C  A  B  D
State_14  C  A  D  B
State_15  C  B  A  D
State_16  C  B  D  A
State_17  C  D  A  B
State_18  C  D  B  A
State_19  D  A  B  C
State_20  D  A  C  B
State_21  D  B  A  C
State_22  D  B  C  A
State_23  D  C  A  B
State_24  D  C  B  A

In [5]:
# این امتیاز های دو تا بازیکن هستش
player_1 ,player_2 =[1,2,3,4],[1,2,3,4]

# بعدا بهتره متغیر بدیم که بشه عوضش کرد . حتی ورودی را از کاربر بگیریم

In [67]:

# جایشگت همه فرم ها را میده
# اولی را ثابت میکنه دومی را میچرخونه 
# 24 حالت میده
player_1 ,player_2 =[1,2,3,4],[1,2,3,4]


list(list(zip(r, p)) for (r, p) in zip(repeat(player_1), permutations(player_2)))



# حالا هر کدوم از اینها یه فرم هستند 
# که باید هر فرم را به  موارد نسبت بدیم که در جدوله هستند

[[(1, 1), (2, 2), (3, 3), (4, 4)],
 [(1, 1), (2, 2), (3, 4), (4, 3)],
 [(1, 1), (2, 3), (3, 2), (4, 4)],
 [(1, 1), (2, 3), (3, 4), (4, 2)],
 [(1, 1), (2, 4), (3, 2), (4, 3)],
 [(1, 1), (2, 4), (3, 3), (4, 2)],
 [(1, 2), (2, 1), (3, 3), (4, 4)],
 [(1, 2), (2, 1), (3, 4), (4, 3)],
 [(1, 2), (2, 3), (3, 1), (4, 4)],
 [(1, 2), (2, 3), (3, 4), (4, 1)],
 [(1, 2), (2, 4), (3, 1), (4, 3)],
 [(1, 2), (2, 4), (3, 3), (4, 1)],
 [(1, 3), (2, 1), (3, 2), (4, 4)],
 [(1, 3), (2, 1), (3, 4), (4, 2)],
 [(1, 3), (2, 2), (3, 1), (4, 4)],
 [(1, 3), (2, 2), (3, 4), (4, 1)],
 [(1, 3), (2, 4), (3, 1), (4, 2)],
 [(1, 3), (2, 4), (3, 2), (4, 1)],
 [(1, 4), (2, 1), (3, 2), (4, 3)],
 [(1, 4), (2, 1), (3, 3), (4, 2)],
 [(1, 4), (2, 2), (3, 1), (4, 3)],
 [(1, 4), (2, 2), (3, 3), (4, 1)],
 [(1, 4), (2, 3), (3, 1), (4, 2)],
 [(1, 4), (2, 3), (3, 2), (4, 1)]]

In [47]:
# تابع فرم را درست میکنه
def Forms(player1_payoff=[1,2,3,4],player2_payoff=[1,2,3,4]):
    all_forms= list(list(zip(r, p)) for (r, p) in zip(repeat(player1_payoff), permutations(player2_payoff)))
    return (all_forms)
Forms()

[[(1, 1), (2, 2), (3, 3), (4, 4)],
 [(1, 1), (2, 2), (3, 4), (4, 3)],
 [(1, 1), (2, 3), (3, 2), (4, 4)],
 [(1, 1), (2, 3), (3, 4), (4, 2)],
 [(1, 1), (2, 4), (3, 2), (4, 3)],
 [(1, 1), (2, 4), (3, 3), (4, 2)],
 [(1, 2), (2, 1), (3, 3), (4, 4)],
 [(1, 2), (2, 1), (3, 4), (4, 3)],
 [(1, 2), (2, 3), (3, 1), (4, 4)],
 [(1, 2), (2, 3), (3, 4), (4, 1)],
 [(1, 2), (2, 4), (3, 1), (4, 3)],
 [(1, 2), (2, 4), (3, 3), (4, 1)],
 [(1, 3), (2, 1), (3, 2), (4, 4)],
 [(1, 3), (2, 1), (3, 4), (4, 2)],
 [(1, 3), (2, 2), (3, 1), (4, 4)],
 [(1, 3), (2, 2), (3, 4), (4, 1)],
 [(1, 3), (2, 4), (3, 1), (4, 2)],
 [(1, 3), (2, 4), (3, 2), (4, 1)],
 [(1, 4), (2, 1), (3, 2), (4, 3)],
 [(1, 4), (2, 1), (3, 3), (4, 2)],
 [(1, 4), (2, 2), (3, 1), (4, 3)],
 [(1, 4), (2, 2), (3, 3), (4, 1)],
 [(1, 4), (2, 3), (3, 1), (4, 2)],
 [(1, 4), (2, 3), (3, 2), (4, 1)]]

In [54]:
# اینو میاریم توی تابع اسم گذاری ترتیبی 
naming_s(Forms(),'Form')

['Form_1',
 'Form_2',
 'Form_3',
 'Form_4',
 'Form_5',
 'Form_6',
 'Form_7',
 'Form_8',
 'Form_9',
 'Form_10',
 'Form_11',
 'Form_12',
 'Form_13',
 'Form_14',
 'Form_15',
 'Form_16',
 'Form_17',
 'Form_18',
 'Form_19',
 'Form_20',
 'Form_21',
 'Form_22',
 'Form_23',
 'Form_24']

In [46]:
# اون تابع فرم را که درست کرده را به تابع نیم نسبت میده که اسم گذاری میکنه 
# و هر کدوم را یه تاپل میکنه میده
# تعداد خروجی های فایل فرمز را میگیره و اسم فرم میزاره روش
naming_form=naming_s(Forms(),'Form')
df_forms=pd.DataFrame(Forms(),index=naming_form)
df_forms

              0       1       2       3
Form_1   (1, 1)  (2, 2)  (3, 3)  (4, 4)
Form_2   (1, 1)  (2, 2)  (3, 4)  (4, 3)
Form_3   (1, 1)  (2, 3)  (3, 2)  (4, 4)
Form_4   (1, 1)  (2, 3)  (3, 4)  (4, 2)
Form_5   (1, 1)  (2, 4)  (3, 2)  (4, 3)
Form_6   (1, 1)  (2, 4)  (3, 3)  (4, 2)
Form_7   (1, 2)  (2, 1)  (3, 3)  (4, 4)
Form_8   (1, 2)  (2, 1)  (3, 4)  (4, 3)
Form_9   (1, 2)  (2, 3)  (3, 1)  (4, 4)
Form_10  (1, 2)  (2, 3)  (3, 4)  (4, 1)
Form_11  (1, 2)  (2, 4)  (3, 1)  (4, 3)
Form_12  (1, 2)  (2, 4)  (3, 3)  (4, 1)
Form_13  (1, 3)  (2, 1)  (3, 2)  (4, 4)
Form_14  (1, 3)  (2, 1)  (3, 4)  (4, 2)
Form_15  (1, 3)  (2, 2)  (3, 1)  (4, 4)
Form_16  (1, 3)  (2, 2)  (3, 4)  (4, 1)
Form_17  (1, 3)  (2, 4)  (3, 1)  (4, 2)
Form_18  (1, 3)  (2, 4)  (3, 2)  (4, 1)
Form_19  (1, 4)  (2, 1)  (3, 2)  (4, 3)
Form_20  (1, 4)  (2, 1)  (3, 3)  (4, 2)
Form_21  (1, 4)  (2, 2)  (3, 1)  (4, 3)
Form_22  (1, 4)  (2, 2)  (3, 3)  (4, 1)
Form_23  (1, 4)  (2, 3)  (3, 1)  (4, 2)
Form_24  (1, 4)  (2, 3)  (3, 2)  (4, 1)

In [59]:
# پس داشتیم
df_states

          0  1  2  3
State_1   A  B  C  D
State_2   A  B  D  C
State_3   A  C  B  D
State_4   A  C  D  B
State_5   A  D  B  C
State_6   A  D  C  B
State_7   B  A  C  D
State_8   B  A  D  C
State_9   B  C  A  D
State_10  B  C  D  A
State_11  B  D  A  C
State_12  B  D  C  A
State_13  C  A  B  D
State_14  C  A  D  B
State_15  C  B  A  D
State_16  C  B  D  A
State_17  C  D  A  B
State_18  C  D  B  A
State_19  D  A  B  C
State_20  D  A  C  B
State_21  D  B  A  C
State_22  D  B  C  A
State_23  D  C  A  B
State_24  D  C  B  A

In [58]:
# و داشتیم
df_forms

              0       1       2       3
Form_1   (1, 1)  (2, 2)  (3, 3)  (4, 4)
Form_2   (1, 1)  (2, 2)  (3, 4)  (4, 3)
Form_3   (1, 1)  (2, 3)  (3, 2)  (4, 4)
Form_4   (1, 1)  (2, 3)  (3, 4)  (4, 2)
Form_5   (1, 1)  (2, 4)  (3, 2)  (4, 3)
Form_6   (1, 1)  (2, 4)  (3, 3)  (4, 2)
Form_7   (1, 2)  (2, 1)  (3, 3)  (4, 4)
Form_8   (1, 2)  (2, 1)  (3, 4)  (4, 3)
Form_9   (1, 2)  (2, 3)  (3, 1)  (4, 4)
Form_10  (1, 2)  (2, 3)  (3, 4)  (4, 1)
Form_11  (1, 2)  (2, 4)  (3, 1)  (4, 3)
Form_12  (1, 2)  (2, 4)  (3, 3)  (4, 1)
Form_13  (1, 3)  (2, 1)  (3, 2)  (4, 4)
Form_14  (1, 3)  (2, 1)  (3, 4)  (4, 2)
Form_15  (1, 3)  (2, 2)  (3, 1)  (4, 4)
Form_16  (1, 3)  (2, 2)  (3, 4)  (4, 1)
Form_17  (1, 3)  (2, 4)  (3, 1)  (4, 2)
Form_18  (1, 3)  (2, 4)  (3, 2)  (4, 1)
Form_19  (1, 4)  (2, 1)  (3, 2)  (4, 3)
Form_20  (1, 4)  (2, 1)  (3, 3)  (4, 2)
Form_21  (1, 4)  (2, 2)  (3, 1)  (4, 3)
Form_22  (1, 4)  (2, 2)  (3, 3)  (4, 1)
Form_23  (1, 4)  (2, 3)  (3, 1)  (4, 2)
Form_24  (1, 4)  (2, 3)  (3, 2)  (4, 1)

In [ ]:
# این جدول این شکلی میشه
Form_1	(1, 1)	(2, 2)	(3, 3)	(4, 4)
# روی 
State_1	A	B	C	D
State_2	A	B	D	C

# میشه 
State_1	(1, 1)	(2, 2)	(3, 3)	(4, 4)
State_2	(2, 2)	(1, 1)	(3, 3)	(4, 4)

# به همین ترتیب

# که برای هر فرم ۲۴ تا استیت بده 
# تصادفا ۲۴ تا هم فرم داریم که میشه ۵۷۶ بازی